{% extends 'layout.html' %}
{% block body %}
    <div class="starter-template face-net bs-docs-container">
        <div class="bs-callout {% if net.landmarks %}bs-callout-success{% else %}bs-callout-danger{% endif %}">
            <h4>Landmark</h4>
            <p>path: {{ net.landmarks_path }}</p>
            {% if net.landmarks %}
                {{ net.landmarks }}
            {% else %}
                <p>No File</p>
            {% endif %}
            <button class="btn btn-info update" data-type="landmarks">Update</button>
            <img class='preloader' src='/static/img/preloader.gif' width='35'/>
        </div>

        <div class="bs-callout {% if net.lfw %}bs-callout-success{% else %}bs-callout-danger{% endif %}">
            <h4>LFW</h4>
            {% if net.lfw %}
                {{ net.lfw }}
            {% else %}
                <p>No Folder</p>
            {% endif %}
            <button class="btn btn-info update" data-type="lfw">Update</button>
        </div>

        <div class="bs-callout {% if net.output %}bs-callout-success{% else %}bs-callout-danger{% endif %}">
            <h4>output</h4>
            <p>path: {{ net.output_path }}</p>
            {% if net.output %}
                {{ net.output }}
            {% else %}
                <p>No Folder</p>
            {% endif %}
            <button class="btn btn-info update" data-type="output">Update</button>
        </div>
    </div>
{% endblock body %}