{% extends 'layout.html' %}
{% block body %}
    <div class="starter-template face-net bs-docs-container">

        <div class="bs-callout bs-lfw {% if net.lfw %}bs-callout-success{% else %}bs-callout-danger{% endif %}">
            <h4>LFW</h4>
            <div class="info">
                {% if net.lfw %}
                    <p><b>Size</b>: {{ net.lfw }}</p>
                {% else %}
                    <p>No Folder</p>
                {% endif %}
            </div>
            <button class="btn btn-info update" data-type="lfw">Download</button>
        </div>

        <div class="bs-callout bs-landmark {% if net.landmarks %}bs-callout-success{% else %}bs-callout-danger{% endif %}">
            <h4>Landmark</h4>
            <p>path: {{ net.landmarks_path }}</p>
            <div class="info">
                {% if net.landmarks %}
                    <p><b>Size</b>: {{ net.landmarks }}</p>
                {% else %}
                    <p>No File</p>
                {% endif %}
            </div>
            <button class="btn btn-info update" data-type="landmarks">Download</button>
        </div>

        <div class="bs-callout bs-output {% if net.output %}bs-callout-success{% else %}bs-callout-danger{% endif %}">
            <h4>Preprocessed</h4>
            <p>path: {{ net.output_path }}</p>
            <div class="info">
                {% if net.output %}
                    <p><b>Size</b>: {{ net.output }}</p>
                {% else %}
                    <p>No Folder</p>
                {% endif %}
            </div>
            <button class="btn btn-info update" data-type="output">Preprocessing data</button>
        </div>

        <div class="bs-callout bs-output bs-callout-success">
            <h4>Prediction</h4>
            <button class="btn btn-info update" data-type="prediction">Make Tests</button>
        </div>
    </div>
{% endblock body %}